
*{
   margin: 0px;
   padding: 0px;
}.outbox{
    border: solid 1px;
    height: 120px;
    display: flex;
}
#box1,#box2{
    border: solid 1px;
    height: 120px;
}
#box1{
    width: 300px;
}
#box2{
    width: 1500px;
    background-color: #933993;
    text-align: center;
}
#clgname{
    color: #ffffff;
    font-size: 50px;
}
#text1{
      font-size: 22px;
      color:#ffffff;
}
#scrolltext{
    font-size: 20px;
    font-weight: bold;
}
.navigation{
    border: solid 1px;
    height: 55px;
}
ul li{
    border: solid 1px;
    height: 55px;
    float: left;
    width: 165.7px;
    text-align: center;
    line-height: 55px;
    background-color: #6494eddb;
    position: relative;
    margin-bottom: 1px;
    margin-right: 1px;
}
ul{
    list-style: none;
}
ul li a{
    color: #00000079;
    font-size: 16px;
    text-decoration: none;
}
ul ul{
    position: absolute;
    display: none;
}
ul li:hover>ul{
    display: block;
}
ul li ul li{
    width: 167.7px;
    background-color: gainsboro;
}
ul li ul li ul li{
    width: 300;
    margin-left: 169px;
}
ul ul ul{
    top: 0px;
}
ul li:hover{
    background-color: #ff0000f0;
}
ul li ul li:hover{
    background-color: #008000cb;
}
ul li ul li ul li:hover{
    background-color: #4732cdf0;
}
.arrow{
    color:#933993;
    font-size: 20px;
}
.obox{
    border: solid 1px;
    height: 400px;
    display: flex;
    justify-content: space-between;
}
#in1,#in2,#in3{
    border: solid 1px;
    height:400px;
}
#in1{
    width: 800px;
    background-image: url(vits1.jpg);
    background-repeat: no-repeat;
    background-size: 800px 400px;
    animation-name: imageschanging;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes imageschanging {
    10%{
        background-image: url(vits2.jpg);
    }
    20%{
        background-image: url(vits3.jpg);
    }
    30%{
        background-image: url(vits4.jpg);
    }
    40%{
        background-image: url(vitss5.jpg);
    }
    50%{
        background-image: url(vits6.jpg);
    }
    
}
#in2,#in3{
    width: 300px;
}
.out{
    border: solid 1px;
    height: 150px;
    background-color: black;
}
#logo{
    padding-right: 150.3px;
}